@font-face {
    font-family: NorseBold;
    src: url(fonts/Norse-Bold.otf);
}

body{
    background-color: rgb(247, 246, 246);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}

.container {
    display:flex;
}

/* left side */

.left {
    border: 1px solid black;
    width: 40%;
    height: 100vh;
    background-image: url('img/leaf.jpg');
    background-size: cover;
    position: relative;
}

.logo-overlay-background{
    background-color: rgba(0, 0, 0, 0.6);
    width: 99.9%;
    height: 20vh;
    border: 1px solid black;
    position: relative;
    top: 200px;
}

.logo-overlay-banner {
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: NorseBold;
    font-size: 6rem;
}

.logo-overlay-banner img {
    height: 90%; 
}

/* right-side */

.right {
    width: 60%;
}

.right > .banner {
    padding-top: 100px;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 50px;;

}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}


/* left-side */

form {
    background-color: white;
    box-shadow: 0px 3px rgba(0,0,0,.2);
    padding: 20px;
}

.form-footer {
    margin-top: 30px;
    padding-left: 20px;
}

button {
    background-color: #596D48;
    color: white;
    padding: 8px 25px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 30px;
}

strong {
    color: #596D48;
}

.form-body ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 60%;
}

.form-body li {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    letter-spacing: 1px;
}

input:focus {
    outline: none;;
    border: 1px solid blue !important;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.3);

}

input[id="password"]:invalid,
input[id="confirm-password"]:invalid {
    border-color: red;
  }
  
input[id="password"]:valid
input[id="confirm-password"]:valid  {
    border-color: green;
  }